
/**/

/*.img-circle {
 border-radius: 50%;*/
}
.img {
  border-radius: 3px;
  padding-left: 5px;
}

.cards {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;


  margin: auto;
  padding: 1rem 0;
}
@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;

  }
}

.card {

  width: 300px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
  z-index: 2;
}

.card--avatar {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 5px;

}

/*titres et body*/
/*h1 {
  color: #DD5555;
  font-size: 22px ;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  color: rgb(30,30,30);
  font-size: 20px ;
  font-family: 'Arial', sans-serif;
  font-style: bold;
  text-align: center;
}

hr {
    border-bottom: 1.5px solid var(--text-1);
    margin: 1rem 0;
}

p {
  color: rgb(30,30,30);
  font-size: 14px ;
  font-family: 'Comic ', sans-serif;
  font-style: bold;
  text-align: center;
}*/

body {
 /* background: #fdfdfd;*/
  text-align: center;
  position: relative;
  z-index: 1;
}
footer .bottom-wave {
  position: absolute;
  z-index: -1;
  bottom: 0; left: 0; right: 0;
}

.fa {
  padding: 10px;
}

/* link*/

 a:hover {
  color: red;
  text-decoration: none;
  }
 a {
  color: grey;
  text-decoration: none;
  display: inline-block;
  }

.list-inline > li {
  display: inline-block;
  padding: 0px 0px;
  color: rgb(150, 150, 150);
}
.list-inline {
  padding-left: 0px;
  align-content: justify;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

/*flip 3D*/
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}
zz



h1, h2, h3, h4, h6, p, hr {
    margin-right: 15;
    padding-bottom: 16px;s
    font-size: 14px;
    box-shadow: none;
    border: none;
}


hr {
    border-bottom: 1.5px solid var(--text-1);
    margin: 1rem 0;
}

body {
    /* PRIMARY */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);

    --facebook: hsl(203, 89%, 53%);
    --twitter: hsl(195, 100%, 50%);
    --instagram: linear-gradient(150deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --toggle-dark: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

    /* STYLE */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 2rem;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-1);
    background-color: var(--bg-color);
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

header {
    padding-top: 0.5rem;
}

header, main {
    position: relative;
    max-width: 400px;
    margin: auto;
}

.header--background {
    --radius: 20px;

    background-color: var(--top-bg-pattern);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 17rem;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.light-theme {
    --bg-color: hsl(0, 0%, 100%);
    --top-bg-pattern: hsl(225, 100%, 100%);
    --card-bg: hsl(227, 47%, 96%);
    --text-1: hsl(228, 12%, 44%);
    --text-2: hsl(230, 17%, 14%);
    --toggle: hsl(230, 22%, 74%);
}

.dark-theme {
    --bg-color: hsl(230, 17%, 14%);
    --top-bg-pattern: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --text-1: hsl(228, 34%, 66%);
    --text-2: hsl(0, 0%, 100%);
    --toggle: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

h1 {
    font-size: 1.6rem;
    color: var(--text-2);
}
h3 {
    color: var(--text-1);
}
p {
  color: var(--text-1);
}

main .card-container:first-child {
    margin: 3rem 0;
}

#toggle-container p {
    margin-right: 1rem;
}

#toggle-container {
    /* margin: 1rem 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#toggle {
    --toggle-height: 20px;
    --toggle-padding: 4px;

    background: var(--toggle);
    border-radius: 14px;
    width: 45px;
    height: var(--toggle-height);
    padding: var(--toggle-padding);
    position: relative;
}

#toggle-container:hover #toggle {
    background: var(--toggle-dark);
}

#toggle--cursor {
    position: absolute;
    right: 4px;
    transform: translateX(0);
    transition: all 0.25s ease-out;
    height: var(--toggle-height);
    width: var(--toggle-height);
    background-color: var(--bg-color);
    border-radius: calc(var(--toggle-height) / 2);
}

.toggle--active #toggle--cursor {
    right: 100%;
    transform: translateX(calc(100% + var(--toggle-padding)));
}

.card {
    text-align: center;
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 1.7rem;
    /* margin: 1.5rem 0; */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.8rem;
    margin: 1.5rem 0;
}

.main-card {
    height: 150px;
    align-items: center;
}

.secondary-card {
    height: 80px;
}

.decoration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.3rem;
}

.bold-text {
    font-weight: 700;
    font-size: 14px;
}

.title {
    font-size: 1.45rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.decoration--facebook {
    background-color: var(--facebook);
}
.decoration--twitter {
    background-color: var(--twitter);
}
.decoration--instagram {
    background: var(--instagram);
}
.decoration--youtube {
    background-color: var(--youtube);
}

.card--heading {
    display: flex;
    align-items: center;
    /* margin: 0.3rem 0 1.3rem 0; */
}

.card--heading h3 {
    margin-left: 0.5rem;
    font-size: 0.7rem;
}

.card--total-number {
    font-size: 3rem;
    color: var(--text-2);
    font-weight: 700;
}

.main-card .card--total-number {
    font-size: 3rem;
}

#overview-part {
    margin: 2rem 0;
}

.secondary-card .card--total-number {
    font-size: 2rem;
}

.secondary-card .card--total-number {
    font-size: 2rem;
}

.card--total-followers {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.card--evolution {
    font-weight: 700;
    display: flex;
    font-size: 0.7rem;
    /* margin-top: 1.5rem; */
}

.card--evolution-increase {
    color: var(--lime-green);
}

.card--evolution-increase:before {
    content: url("../images/icon-up.svg");
    display: block;
    position: relative;
    bottom: 3px;
    right: 5px;
}

.card--evolution-decrease {
    color: var(--bright-red);
}

.card--evolution-decrease:before {
    color: var(--bright-red);
    content: url("../images/icon-down.svg");
    display: block;
    position: relative;
    bottom: 3px;
    right: 5px;
}

.attribution {
    font-size: 11px;
    text-align: right;
    position: absolute;
    margin: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    transition: color 0.2s ease;
}

.attribution a:hover {
    color: hsl(228, 45%, 60%);
}


@media screen and (min-width: 550px) {
    .subtitle-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    hr {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 1350px) {
    header, main {
        position: relative;
        max-width: 750px;
        margin: auto;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1350px){
    header, main {
        position: relative;
        max-width: 1100px;
        margin: auto;
    }

    .header--background {
        height: 14.4rem;
    }

    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }

    hr {
        display: none;
    }
}
