background-color {
 color: yellow;
}
.container {
  width:600px;   /* This sets the width */
  margin: 10px auto; /* This automatically sets left/right margins */
  box-shadow:3px ;
    }
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
.container {
  width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
.container {
  width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.img-circle {
 border-radius: 50%;
}
.img {
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 20px;
}

.card {
  background-color: white;
  width:300px;
  margin: 35;
  border-radius: 10px;
  padding: 22px;
  box-shadow: 10px;
}

/*titres et body*/
h1 {
  color: #DD5555;
  font-size: justify ;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  color: rgb(30,30,30);
  font-size: justify ;
  font-family: 'Arial', sans-serif;
  font-style: bold;
  text-align: center;
}

p {
  color: rgb(30,30,30);
  font-size: justify ;
  font-family: 'Comic ', sans-serif;
  font-style: bold;
  text-align: center;
}

body {
  background-color: #FFECD7;
  text-align: center;
}

/* link*/

 a:hover {
  color: red;
  text-decoration: none;
  }
 a {
  color: grey;
  text-decoration: none;
  display: inline-block;
  }

.list-inline > li {
  display: inline-block;
  padding: 10px 10px;
  color: rgb(150, 150, 150);
}
.list-inline {
  padding-left: 5px;
   padding-top: 60px;
  align-content: justify;
}

.jigsaw1, .jigsaw2 {
  width: 30em;
  height: 30em;
  margin: 20px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  cursor: pointer;

  border: 1px solid;
  padding: 10px;
  box-shadow: 0 10px 10px;
}
.first-card,
.jigsaw1,
.jigsaw1 span,
.jigsaw1, .jigsaw .r, .jigsaw.t {
  background-color: #FFD7D7;
}

.jigsaw2,
.jigsaw2 span {
 background-color: white;
}

.text {
  display: block;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  padding: 1.9em 0 0 1.2em;
  position: relative;
  background: transparent !important;
}

.jigsaw1 .t, .jigsaw2 .t {
 width: 6em;
  height: 6em;
  position: absolute;
  top: -5.5em;
  left: 12em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .r, .jigsaw2 .r {
 width: 6em;
  height: 6em;
  position: absolute;
  top: 12em;
  left: 29em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .b, .jigsaw2 .b {
 width: 6em;
  height: 6em;
  position: absolute;
  top: 25em;
  left: 12em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #FFECD7;
}

.jigsaw1 .l, .jigsaw2 .l {
 width: 6em;
  height: 6em;
  position: absolute;
  top: 12em;
  left: -1.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #FFECD7;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
